/* File Created by u1755082 (Kieran Gateley) for module CIS2360 - Relational Databases and Web Integration */
body {
    font-size: 16px;
    margin-bottom: 50px;
}

form {
    display: inline; padding: 5px;
}

div {
    display: inline;
}

.product-table {
    padding-left: 5%;
    padding-right: 5%;
}

.product-no-stock {
    color: darkred;
}

td {
    text-align: center; border: 1px solid black;
}
tr {
    text-align: center; border: 1px solid black;
}
th {
    text-align: center; border: 1px solid black;
}
.account {
    float: right;
}